<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stephen">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".base.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".base.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".aty.VectorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".aty.HeartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".aty.OpenTopActivity"
            android:launchMode="singleInstance" />

        <service
            android:name=".service.TopAccessibilityService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:process=":service">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/acc_config" />
        </service>
        <service
            android:name=".service.EcmoService"
            android:process=":service" />
        <service
            android:name=".service.CoverService"
            android:enabled="true"
            android:exported="true"
            android:process=":service" />

        <activity android:name=".aty.WaveAty" />
        <activity android:name=".aty.BubbleAty" />
        <activity android:name=".aty.RevealActivity"></activity>
    </application>

</manifest>